p{
    color: black;
    background: white;
    font-family:monospace;
    text-align: justify
    /*line-height: 3px;  ---- tamanho da altura de cada linha */
    /*letter-spacing: 3px; ---/* tamanho do espaço entre cada letra */
    /*word-spacing: 5px; ---/* tamanho do espaço entre cada palavra */
    /*text-indent: 30px; ---/* tamanho da margem da primeira linha do texto */
    
}
h1{
    font-family: serif

}
h2{
    font-family:sans-serif
}